/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/page.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
@keyframes bounce {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(1px, 0, 0);
    }
  }
  
  .animate-bounce1 {
    animation: bounce 1s cubic-bezier(.36,.07,.19,.97);
  }
@keyframes animate-bg {
    0% {background-color: transparent;}
    50% {background-color: gray;}
    0% {background-color: transparent;}
}
.blinker {
  animation: animate-bg 1s infinite;
}
