bcrypt
blinker
cffi
click
cryptography
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-MySQLdb
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pycparser
PyJWT
PyMySQL
python-dotenv
Werkzeug
Gunicorn